//COLORS
$primary-color-blue: #0099B0;
$primary-color-gray: #515151;
$primary-color-white: #F5EFEA;

$secondary-color-green: #568427;//#28b485
$secondary-color-red: #FF725D;
$secondary-color-gray: #b3b3b3;


//FONT
$default-font-size: 1.6rem;

//MAX SCREEN WIDTH
$default-screen-width: 1000px;
